header{
    background-image: linear-gradient(rgba(0,0,0,.6) , rgba(0,0,0,.6)) , url(../imgs/home.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding-top: 170px;
}